<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up.mapper.MixMapper">
    <select id="study" parameterType="string" resultType="_int">
        SELECT t.count FROM table99 t WHERE
    </select>
</mapper>